.btn{
width:75px;
height:75px;
border-radius:15px;
display:inline;
border:3px dotted;
margin:5px;
color:black;
font-weight:900;
font-size:30px;
}
body{
text-align:center;
background-color:grey;
}
#box{
  padding-top:40px;
  padding-right:10px;
  padding-left:40px;
  padding-bottom:25px;
  border-radius:15px;
  background-color:brown;
  width:290px;
  height:290px;
  display:flex;
  flex-wrap: wrap;
}
#outbox{
 margin-left:520px; 
  width:300px;
  height:300px;
}
#reset{
margin:30px;
font-weight:bold;
font-size:20px;
}
#win{
font-weight:bold;
font-size:30px;
}